@use "modules/mediaQueries" as mq;

body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    h1 {
        padding: 5px;
        background-color: #000000;
        color: #ffffff;
    }

    nav {
        #lblSearchOnTitle {
            margin-left: 5px;
        }
    }

    main {
        //margin: auto;
        max-width: 80vw;
        display: grid;
        gap: 25px;

        grid-template-columns: auto;
        @include mq.screen-min(mq.$screen-md){
            grid-template-columns: auto auto auto;
        }
        @include mq.screen-min(mq.$screen-xl){
            grid-template-columns: auto auto auto auto;
        }

        #card {
            //width: 200px;
            margin-top: 20px;

            &:hover {
                background-color: green;
            }

            #bookcover {
                max-width: 100%;
            }
    
            #itemBody {
                padding: 10px;
    
                #releaseDate {
                    padding: 5px;
                    font-size: 0.6rem;
                    background-color: #ffff00;
                }
        
                #genre {
                    padding: 5px;
                    font-size: 0.6rem;
                    background-color: #00d5ff;
                }
    
                #title {
                    margin-bottom: 0px;
                    font-size: 1rem;
                }
    
                #author {
                    margin-top: 0px;
                    font-size: 0.6rem;
                    color: #808080;
                }
    
                #description {
                    font-size: 0.8rem;
                    height: 200px;
                    overflow-y: scroll;
                }
        
                #iconBookstore {
                    width: 3rem;
                }
            }
        }
    }
}