@use "modules/mediaQueries" as mq;

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: auto;
    max-width: 90vw;

    header {
        margin-top: 1rem;
        padding: 0.5rem;
        background-color: #000000;
        display: flex;
        flex-flow: column;
        @include mq.screen-min(mq.$screen-md){
            flex-flow: row;
            justify-content: space-between;
        }

        h1 {
            margin: 0px;
            font-size: 1rem;
            color: #ffffff;
        }

        #inputSearchOnTitle {
            margin-top: 0.5rem;
            @include mq.screen-min(mq.$screen-md){
                margin-top: 0rem;
            }

            padding-left: 0.5rem;
        }
    }

    main {      
        display: grid;
        gap: 1rem;

        grid-template-columns: auto;
        @include mq.screen-min(mq.$screen-md){
            grid-template-columns: auto auto auto;
        }
        @include mq.screen-min(mq.$screen-xl){
            grid-template-columns: auto auto auto auto;
        }

        #card {
            margin-top: 2rem;
            padding-top: 0.5rem;

            &:hover {
                transform: scale(1.1, 1.1);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            #bookcover {
                display: block;
                margin-inline: auto;
                max-width: 100%;
                height: 15rem;
            }
    
            #itemBody {
                padding: 0.5rem;
    
                #releaseDate {
                    display: inline-block;
                    padding: 5px;
                    font-size: 0.6rem;
                    background-color: #ffff00;
                }
        
                #genre {
                    padding: 5px;
                    font-size: 0.6rem;
                    background-color: #00d5ff;
                }
    
                #title {
                    margin-top: 1rem;
                    height: 3rem;
                    display: table-cell;
                    vertical-align: bottom;
                    font-size: 0.8rem;
                }
    
                #author {
                    margin-top: 0px;
                    font-size: 0.6rem;
                    color: #808080;
                }
    
                #description {
                    font-size: 0.8rem;
                    height: 200px;
                    overflow-y: scroll;
                }
        
                #iconBookstore {
                    width: 3rem;
                }
            }
        }
    }
}